/* {"Palette":["#3d2b1f","#5e2f2f","#d97a6d","#e4c7b8","#f9d3c8"],
"Fonts":{"HeadingFont":"Bitter ExtraBold","SubheadingFont":"Bitter SemiBold","BodyFont":"Bitter"},"BrandVoice":"profesional, yet approachable"} */

/* || General styles */
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f4efed;
    margin: 0;
    padding: 0;
}

/* || Leftside styles */

.left-side {
    position: relative;
    width: 30%;
    height: 100%;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100px;
    height: 100px;
}

.left-text {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

/* || Rightside styles */

.right-side {
    width: 70%;
    height: 100%;
    /* padding: 5%; */
    /* margin: 20% 10%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side-header {
    margin-top: 5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

/* || Form styles */

.form-container {
    padding: 3% 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
    gap: 20px; /* Adjust the gap as needed */
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds drop shadow */
}

.form-container h3 {
    width: 100%; /* Makes the h3 take full width */
    grid-column: 1 / -1; /* Spans all columns if inside a grid */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-message {
    color: red;
    font-size: 1.25rem;
}

button {
    width: 40%;
    padding: 10px;
    background: #3d2b1f;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds drop shadow */
}

button:hover {
    background: #c39e86;
}

.login-link {
    padding: 2%;
    margin-bottom: 5%;
    font-size: 1.5rem;
}

.login-link a {
    color: #3d2b1f;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

